@{
    ViewData["Title"] = "Home Page";
    var date = ViewBag.Date;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (date.Hour > 16)
    {
        <div>Bonsoir</div>
    }
    else
    {
        <div>Bonjour</div>
    }
    @*lien sans nommage de route*@
    @*<a asp-controller="MailBox" asp-action="Index" asp-route-reference="X624">X624</a>*@
    @*lien avec nommage de route*@
    <a asp-route="discount" asp-route-reference="X624">X624</a>
</div>
